html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*end of resetting values*/
body {
    background-image: radial-gradient(circle, #0624d2, #031f3c);
}
header, footer  {
    display: flex;
    justify-content: space-between;   
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    display: inline-block;
    vertical-align: top;
    float: right;
}
li {
  	float: right;
}
li a, .dropbtn {
	display: inline-block;
	color: black;
	text-align: right;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn {
  	background-color: red;
}
li.dropdown {
  	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background: none;
	max-width: 90px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 8px 10px;
	text-decoration: none;
	display: inline-block;
	text-align: right;
}
.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {
  	display: block;
}
/*baigiasi header*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 10px;
	width: 50%;
	opacity: 0.9;
}
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
} 
#myBtn {
    background: none;
    border: none;
}
textarea {
	background: none;
	width: 100%;
	height: 250px;
	resize: none;
	border-radius: 10px;
	border: 2px solid lightblue;
	font-family: Comic Sans MS;
	font-size: 50px;
}
.button {
	background: none;
	border: none;
	font-family: Comic Sans MS;
}
.button-align {
	text-align: center;
}
.explain-text {
    font-family: Comic Sans MS;
}
.container {
	display: flex;
}
.bbox {
	box-sizing: border-box;
    height: 300px;
	flex: 1 0 0;
    transform:scale(1.1s) rotateY(-10deg) rotateX(-5deg);
}
.try-it {
    justify-content: center;  
    align-items: center;
}
.try-it-hover:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}
@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.first {
    background-color: #2f3082;
    transform: rotate(-1deg) skew(-1deg, 0deg);
    display: flex;
    justify-content: center;  
    align-items: center;
}
.second {
    background-color: #fff387;
    transform: rotate(1deg) skew(1deg, 0deg);
    font-family: Comic Sans MS;
    font-size: 30px;
    text-align: center;
    padding: 30px 3px; 
}
.first:hover {
    transform: scale(1.05);
}
.write-on-potato {
    transform: rotate(-30deg);
    font-family: Comic Sans MS;
    font-size: 60px;
}
.icons {
    width: 40px;
}
.logo {
    height: 80px;
}
.up-down {
    max-height: 40px;
    vertical-align: top;
}    
.footer-contact {
    margin: 5px 10px;
}
.footer-padding {
	padding-top: 15px;
}
@media only screen and (max-width: 800px) {
	header {
		display: flex;
		flex-direction: row;
    	flex-wrap: wrap;
	}
	.header-logo { 
		flex: 30%;
		flex-wrap: wrap;
		order: 1;
	}
	.meniu {
		flex: 70%;
		order: 2;
	}
	.header-try-it {
		order: 3;
	}
	.write-on-potato {
		transform: none;
		font-size: 40px;
	}
	.container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;	
	}
	.bbox {
		flex: 100%;
		max-width: 100%;
	}
}
	

				
